.App {
  font-family: sans-serif;
  text-align: center;
}
.product-card {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  margin: 10px;
}

.product-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.product-content {
  margin: 0 auto;
}
.page-no {
  border: 1px solid black;
  margin: 2px;
  padding: 1px;
  cursor: pointer;
}

.products {
  display: flex;
  flex-wrap: wrap;
}
button:focus {
  background-color: aqua;
}
